.select {
    display: flex;
    justify-content: space-between;
    height: 37px;
    padding: 0 12px;
    padding-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    background: #F8F8F8;
    border-radius: 20px;
    border: 2px solid rgb(248, 248, 248);
    cursor: pointer;
    span {
        stroke: #664EF9;
        svg {
            width: 12px;
            height: 9px;
        }
    }
}

.popupTabs {
    z-index: 100;
    position: absolute;
    min-width: 150px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(135, 124, 202, 0.3);
    border-radius: 10px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            height: 37px;
            padding: 10px 5px;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            color: #1E2123;
            cursor: pointer;
            &:hover {
                background: #F8F8F8;
            }
        }
    }
}

.popupActive {
	background: #FFFFFF;
	border: 2px solid rgba(102, 78, 249, 0.8);
	border-radius: 20px;
	filter: drop-shadow(0px 5px 15px rgba(135, 124, 202, 0.25));
    color: black;
}

