.filter {
	max-width: 1280px;
	margin: 0 auto;
	padding-bottom: 42px;
	&__title {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 25px;
		font-size: 16px;
		font-weight: 500;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style-type: none;
		:hover {
			background-color: rgba(102, 78, 249, 0.2);
		}
		li {
			display: inline-block;
			margin: 0 15px 15px 0;
			padding: 6px 10px;
			background-color: rgba(102, 78, 249, 0.1);
			border-radius: 17px;
			font-size: 14px;
			font-weight: 400;
			color: #664EF9;
			cursor: default;
			&.active {
				background-color: rgba(102, 78, 249, 0.2);
			}
		}
	}
}