.prevArrow, .nextArrow {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    &:hover {
        fill: rgba(102, 78, 249, 0.1);
    }
}
.prevArrow {
    left: 48%;
    bottom: -85px;
}

.nextArrow {
    left: 52%;
    transform: rotate(180deg);
    bottom: -82px;
}