.wrapperFooter {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px -11px 40px 0px rgba(39, 95, 158, 0.05);
}

.footer {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 250px;
    padding: 39px 81px 43px 0;
    ul {
        list-style-type: none;
        padding: 0;
    }
    &__requisites {
       width: 327px;
       padding-right: 30px; 
    }
    &__logo {
        margin-bottom: 10px;
    }
    &__title {
        font-size: 12px;
        font-weight: 500;
        color: #8291A3;
        margin: 0 0 36px 0;
    }
    &__address {
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        color: #8291A3;
        p {
            margin: 0;
        }
    }
    &__navLinkWrapper {
        flex-grow: 1;
        
    }
    &__navLink {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
        
    }
    &__services {
        width: 218px;
        height: 93px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;

    }
    &__apartaments {
        flex-grow: 1;
    }
    &__apartament {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
    }
    &__apartamentsList,
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 67px;
        margin: 0;
        li {
            margin-bottom: 8px;
            font-size: 14px;
            line-height: 17px;
            color: #8291A3;
        }
        li:nth-child(3n) {
            margin-bottom: 0;
        }
    }

    &__info {
        height: 93px;
        li:nth-child(n) {
            margin-bottom: 8px;
        }
        li:last-of-type {
            margin-bottom: 0;
        }
    }
}