.apartamentBtn {
    height: 33px;
    margin-right: 16px;
    margin-bottom: 14px;
    border-radius: 16px;
    padding: 8px 14px 8px 14px;
    background: #664EF9;color: #664EF9;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}