.header {
    z-index: 100;
    position: fixed;
    width: 100%;
}

.wrapperStickymenu {
    width: 100%;
    background-color: #F8F8F8;
}

.stickymenu {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    height: 40px;
    &__list {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0;
        margin: 0;
        font-size: 14px;
        list-style-type: none;
    }
    &__item {
        position: relative;
        margin-right: 57px;
        font-weight: 400;
        text-decoration: none;
        color: #8291A3;
        :hover::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            transform: translateY(310%);
            background-color: #FFD54F;
        }
        :hover {
            color: #1E2123;
        }
        :hover .location {
            color: #1E2123;
            fill: black;
        }
        &_link {
            text-decoration: none;
            color: inherit;
    }
    
    }
    &__favorites {
        padding-right: 40px;
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        color: #8291A3;
    }
    &__link {
        display: block;
        padding: 12px 0;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: #664EF9;
    }
}

.locationSvg {
    margin-right: 5px;
    fill: rgba(130, 145, 163, 1);
    &:hover {
        fill: black;
    }

}

.popupLocationSvg {
    fill: #FFD54F;
    margin-left: 10px;
    svg {
        width: 12px;
        height: 15px;
        transform: translateY(2px);
    }
}

.heartSvg {
    margin-left: 11px;
    fill: #8291A3;
    svg {
        width: 16px;
        height: 16px;
        transform: translateY(3px);
    }
}

.wrapperMenu {
    width: 100%;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, .08));
}

.menu {
    position: relative;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    height: 60px;
    &__logo {
        padding: 20px 0;
        cursor: pointer;
    }
    &__list {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        flex-grow: 1;
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 21px;
        list-style-type: none;
        :hover::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            transform: translateY(16.1px);
            background-color: #FFD54F;
        }
        
    }
    &__item {
        position: relative;
        font-weight: 600;
        cursor: pointer;
        
    }
    &__btn {
        height: 37px;
        width: 224px;
        margin-top: 10px;
        border-radius: 19px;
        background: linear-gradient(80deg, rgba(157, 148, 255, 1) 0%, rgba(107, 80, 233, 1) 100%);
        box-shadow: 0 4px 4px 2px rgba(0, 0, 0, .25);
        font-size: 14px;
        font-weight: 700;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        span {
            margin-right: 5px;
        }
        
    }

    &__btn:hover {
        background: linear-gradient(90deg, rgba(134, 124, 252, 1) 0%, rgba(105, 41, 243, 1) 94.5%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.popup {
    z-index: 100;
    position: absolute;
    width: 242px;
    left: 17%;
    top: 84px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 40px 0px rgba(135, 124, 202, 0.3);
    overflow: hidden;
    &__list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        list-style-type: none;
        :hover {
            background-color: #F8F8F8;
        }
        li {
            height: 37px;
            padding-left: 15px;
            font-size: 14px;
            font-weight: 500;
            line-height: 37px;
        }
    }
}