.btn {
    height: 37px; 
    padding: 10px 15px;
    border-radius: 18px;
    box-shadow: 0px 5px 20px 0px rgba(0, 96, 206, 0.1);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    cursor: pointer;
}

.sortBtns {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 21px 0 82px 21px;
    &__sortPopup {
        width: 232px;
        background: rgba(255, 255, 255, 1);
        &_sortSvg {
            vertical-align: middle;
            margin-right: 8px;
        }
        &_arrow {
            stroke: #664EF9;
            svg {
                margin-left: 62px;
                width: 13px;
                height: 10px;
            }
        }
        
    }
    &__displayType{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        margin-right: 65px;
    }
    &__listBtn {
        min-width: 106px;
        margin-right: 21px;
        background: rgba(255, 255, 255, 1);
        span {
            vertical-align: middle;
            margin-right: 10px;
        }
        
    }
    &__tileBtn {
        min-width: 105px;
        font-weight: 500;
        box-shadow: none;
        span {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    &__location {
        min-width: 180px;
        background: rgba(255, 255, 255, 1);
        span {
            margin-right: 4px;
            vertical-align: middle;
            fill: #664EF9;
            svg {
                width: 13px;
                height: 15px;
            }
        }
    }
}