.newsListWrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 142px;
}

.newsListCrumbs {
    padding-bottom: 63px;
}

.newsList {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
}